version: '3.8'

services:
  # Serviço do banco de dados Cassandra
  cassandra:
    image: cassandra:latest # Usa a imagem oficial do Cassandra
    ports:
      - "9042:9042" # Porta padrão do Cassandra (CQL)
    environment:
      - CASSANDRA_CLUSTER_NAME=MyCluster
      - CASSANDRA_DC=datacenter1
      - CASSANDRA_RACK=rack1
    healthcheck:
      # Teste para verificar se o Cassandra está pronto para aceitar conexões
      test: ["CMD-SHELL", "cqlsh -e 'DESCRIBE KEYSPACES'"]
      interval: 15s
      timeout: 10s
      retries: 10